.orange {
  background-color: #f6f6f6;

  padding: 0px 20px;
  margin-top: 20px;
}

.kontakt-row {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 40px;

  margin: 30px 0;
  padding: 35px 20px;

  flex-wrap: nowrap;
}

.kontakt-box {
  min-width: 0;
  text-align: center;
}

.kontakt-box h3 {
  font-size: 15px;
  margin-bottom: 8px;

  color: #535453;

  white-space: nowrap;
}

.kontakt-box p {
  color: #f8981c;
  font-weight: 700;

  margin: 0;

  white-space: nowrap;

  text-decoration: none;

  font-size: 28px;
  line-height: 1.1;
}

.kontakt-box p a {
  color: #f8981c;
  text-decoration: none;
}

.kontakt-box p a:visited,
.kontakt-box p a:active {
  color: #f8981c;
  text-decoration: none;
}

/* MOBIL */

@media screen and (max-width: 700px) {
  .orange {
    padding: 0;
  }

  .kontakt-row {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 10px;

    padding: 30px 10px;
    margin: 0;
  }

  .kontakt-box {
    text-align: center;
  }

  .kontakt-box h3 {
    font-size: 11px;
    margin-bottom: 6px;
  }

  .kontakt-box p {
    font-size: 15px;

    white-space: nowrap;
  }

  h2 {
    font-size: 30px;
    line-height: 1.1;

    padding: 0 20px;
  }

  p {
    word-spacing: normal;
    line-height: 1.5;
  }
}

.kontaktkolonner {
  margin: 20px;
}

@media screen and (min-width: 1000px) {
  .kontaktkolonner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    justify-content: center;

    gap: 40px;
    margin: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .kontaktkolonner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    justify-content: center;

    gap: 40px;
  }
}
