.serviceafsnit img {
  width: 90%;
  height: auto;
  margin: 20px;
}

@media screen and (min-width: 900px) {
  .resten {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.service-nav a:hover {
  background: #f8981c;
  color: white;
}

.grey {
  background: #e9e9e9;
  padding: 60px 60px;
}

.service-nav {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;

  gap: 7px;

  width: 100%;
}
.service-nav a {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 10px 22px;

  background: white;
  border-radius: 999px;

  color: #535453;
  text-decoration: none;

  font-size: 18px;
  font-weight: 600;
  line-height: 1;

  white-space: nowrap;

  transition: 0.25s ease;
}

.service-nav a:hover {
  background: #f8981c;
  color: white;
}

.resten {
  padding: 80px 40px;
}

.serviceafsnit {
  scroll-margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 900px) {
  .resten {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

@media screen and (max-width: 650px) {
  .grey {
    padding: 35px 20px;
  }

  .service-nav {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .service-nav a {
    width: 100%;
    min-height: auto;
    padding: 10px 20px;
    font-size: 14px;
    grid-column: auto;
  }

  .resten {
    padding: 50px 28px;
  }
}

html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 120px;
}

html {
  scroll-behavior: smooth;
}
