html,
body {
  height: 100%;
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img,
video {
  width: 100%;
  height: auto;
  display: block;
}

main {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

@font-face {
  font-family: 'Futura';
  src: url('/fonts/Futura-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Futura', sans-serif;
}
